@import 'nib'

@font-face
    font-family: "Futura";
    src: url('Futura.ttf');


global-reset()

red = #e51c23
yellow = #FCEC00
lightBlue = #03a9f4
cyan = #00bcd4
blue = #5677fc
green = #259b24
orange = #ff9800
grey = #eeeeee
indigo = #3f51b5

body
	text-align center

.list
	background #FFF 
	
.list-item
	> span
		padding-left 5px